.home__header {
  position: relative;
  display: flex;
  background-color: #fff;
  .header__photo {
    width: 45%;
    .header__img {
      height: 80vh;
      width: 100%;
      background: url("../../assets/Home-Hero-Image.jpg");
      background-size: cover;
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }
  .header__info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header__title {
      font-size: 2.8rem;
      padding: 1rem 0;
    }
    .header__decoration {
      background: url("../../assets/Decoration.svg");
      width: 25rem;
      height: 3.3rem;
      margin: 1rem 0;
    }
    .header__btns {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      .header__btn {
        width: 20rem;
        margin: 0 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        border: 2px solid $color-gray;
        padding: 0.5rem 0;
        text-transform: uppercase;
      }
      .link--mod {
        text-decoration: none;
        color: $color-gray-dark;
      }
    }
  }
}