.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .steps__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .steps__title {
      font-size: 3rem;
      font-weight: 400;
    }

    .steps__decoration {
      background: url("../../assets/Decoration.svg");
      width: 20rem;
      height: 2.5rem;
      background-position: center;
      margin: 2rem 0;
    }
  }

  .steps__elements {
    width: 100%;
    background-color: $color-light-gray;
    display: flex;
    justify-content: center;
    .steps__el {
      height: 10vh;
      text-align: center;
      .el__icon1 {
        background: url("../../assets/Icon-1.svg");
        background-repeat: no-repeat;
        height: 10rem;
      }
    }
  }
}