.help {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  height: 100vh;
  text-align: center;

  .help__title {
    font-size: 3.5rem;
    font-weight: normal;
  }

  .help__decoration {
    margin: 2rem 0;
  }


}